* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  padding-left: 40px;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: #0bb48c;
  font-size: 2rem;
}

.logo #logo-text {
  font-weight: 600;
}

nav #nav-menu {
  display: flex;
  gap: 3rem;
  margin-left: 100px;
}

nav #nav-menu li {
  list-style: none;
}

nav #nav-menu li a {
  text-decoration: none;
  color: grey;
}

nav #nav-menu li i {
  color: rgb(106, 105, 105);
  margin-left: 8px;
  font-size: 14px;
}

.buttons {
  margin-right: 80px;
}

.buttons #button1 {
  border-color: #0bb48c;
  color: #0bb48c;
  border-width: 1px;
  font-weight: bolder;
  margin-right: 24px;
}

.buttons #button2 {
  border: none;
  background-color: #0bb48c;
  color: white;
  font-weight: 600;
}

.buttons #button1:hover {
  background-color: #09a37f;
  color: white;
}

.buttons #button2:hover {
  background-color: #09a37f;
}

.buttons button {
  padding: 11px 25px;
  background-color: transparent;
  border-radius: 6px;
  border-style: solid;
  font-size: 13px;
  cursor: pointer;
}

.plan-section {
  display: flex;
  justify-content: center;
  margin-top: 10.5em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0bb48c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 4px;
  left: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0bb48c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #09a37f;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translate(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

#plan-container {
  display: flex;
  gap: 6.5em;
}

.plan-time {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: gray;
  font-family: "inter", sans-serif;
  font-weight: 600;
  gap: 25px;
  position: relative;
}

.plan-time .active {
  color: #4c525a;
}

#plan-container h1 {
  font-family: "Times New Roman", serif;
  font-weight: 500;
  color: #4c525a;
  font-size: 41px;
}

.plan-time img {
  position: absolute;
  right: 0%;
  left: 55%;
  bottom: 50%;
}

#plans-select {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 70px 50px;
}

#plans-select .plan {
  background-color: rgb(251, 251, 251);
  padding: 50px 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#plans-select .plan h2 {
  color: #4c525a;
  font-family: sans-serif;
  font-size: 1.625rem;
  line-height: 1.4;
}

#plans-select .plan p {
  color: #4c525a;
  font-size: 14px;
}

#plans-select .plan .price {
  display: flex;
  margin-top: 20px;
}

#plans-select .plan .price p:nth-child(1) {
  font-size: 30px;
}

#plans-select .plan .price p:nth-child(2) {
  font-size: 62px;
}

#plans-select .plan .price p:nth-child(3) {
  font-size: 1.625rem;
  margin-left: 13px;
  text-transform: uppercase;
  margin-top: 2.25rem;
}

#plans-select .plan .line {
  border: 1px solid #05bd92;
  margin-top: 10px;
}

.features div {
  display: flex;
  margin-bottom: 1.5rem;
}

.features div i {
  color: #05c296;
  margin-right: 10px;
}

.features div:nth-child(1) {
  margin-top: 2.27rem;
}

.plan-button {
  padding: 26px 86px;
  border: none;
  background-color: #05c296;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: auto;
  cursor: pointer;
}

.plan-button:hover {
  background-color: #09a37f;
}

.ribbon {
  position: absolute;
  background-color: #05bd92;
  color: #fff;
  padding: 10px 100px;
  text-align: center;
  font-weight: 700;
  transform: rotate(45deg);
  right: -110px;
  top: 50px;
  left: 150px;
}

.yearly-text {
  margin-left: 11rem;
}

.add-ons-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #4c525a;
  margin-top: 50px;
}

.add-ons-section h1 {
  font-family: "Times New Roman", serif;
  margin-bottom: 50px;
}

.add-ons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-on {
  display: flex;
  justify-content: space-between;
  gap: 20rem;
  width: 70rem;
  padding: 40px 60px;
  background-color: rgb(251, 251, 251);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.add-on p {
  color: rgb(108, 107, 107);
  line-height: 30px;
  font-weight: 100;
}

.free-text {
  font-size: 2rem;
}

.addon-price h2 {
  font-size: 2.5rem;
}

.learnmore-link {
  display: flex;
  align-items: center;
}

.learnmore-link i {
  color: #05bd92;
  cursor: pointer;
}

.learnmore-link a {
  text-decoration: none;
  color: #05bd92;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 15px;
}

.slogan-section {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.slogan-section .slogan-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2faff;
  gap: 18rem;
  padding: 69px 60px;
  border-radius: 8px;
}

.slogan-section .slogan-box h1 {
  color: #4c525a;
  font-weight: 500;
  font-size: 40px;
  font-family: "Times New Roman", serif;
}

.slogan-section .slogan-box div span {
  color: #05bd92;
}

.slogan-section .slogan-box button {
  padding: 17px 28px;
  background-color: #03a37e;
  border: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  cursor: pointer;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-section h1 {
  color: #03a37e;
  margin-top: 9rem;
}

.faq-section .questions {
  color: #4c525a;
  margin-top: 30px;
  overflow-y: auto;
}

.faq-section .question {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 20rem;
  cursor: pointer;
}

.faq-section .question:hover {
  color: #03a37e;
}

.faq-section .question i {
  color: rgb(190, 190, 190);
}

.faq-p {
  margin-top: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 15px;
}

.faq-hide {
  display: none;
}

.faq-show {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #4c525a;
  padding: 13rem 13rem;
  margin-top: 5rem;
}

.footer a {
  text-decoration: none;
  color: #6d747d;
  font-weight: lighter;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-column h3 {
  margin-bottom: 40px;
}

.footer-column h4 {
  margin-top: 30px;
}

.footer-column:nth-child(1) a:nth-child(12) {
  margin-top: 30px;
  color: #05bd92;
}

.footer-column:nth-child(2) a:nth-child(5) {
  margin-top: 30px;
}

.footer-column:nth-child(3) a:nth-child(8) {
  margin-top: 30px;
}

.footer-column:nth-child(3) a:nth-child(11) {
  margin-top: 30px;
}
